<h3>
    <!-- START Language list-->
    <!--.pull-right-->
    <!--  .btn-group(uib-dropdown='', is-open='language.listIsOpen')-->
    <!--    button.btn.btn-default(type='button', uib-dropdown-toggle="")-->
    <!--      | {{language.selected}}-->
    <!--      span.caret-->
    <!--    ul.dropdown-menu.dropdown-menu-right.animated.fadeInUpShort(role='menu')-->
    <!--      li(ng-repeat='(localeId, langName) in language.available')-->
    <!--        a(ng-click='language.set(localeId, $event)', href='#') {{langName}}-->
    <!-- END Language list    -->
    Dashboard
    <small>{{ 'dashboard.WELCOME' | translate:{ appName: app.name } }} !</small>
</h3>
<div class="row">

    <div class="col-md-4">
        <!-- START panel tab-->
        <div class="panel panel-default">
            <div class="panel-body">
                <!--<uib-tab-heading>-->
                    <!--<em class="fa fa-clock-o fa-fw"></em>Applications Panel-->
                <!--</uib-tab-heading>-->
                <div class="panel-heading">
                    <!--<div class="pull-right label label-danger">5</div>-->
                    <!--<div class="pull-right label label-success">12</div>-->
                    <div class="panel-title">Applications</div>
                </div>

                <div>
                    <!-- START Applicationslist group-->
                    <div class="list-group mb0">
                        <a href="#" class="list-group-item bt0" ng-click="selectApp(application.name)"
                           ng-repeat="application in applications track by application.name" active="application.active">
                            <span class="label label-{{application.badge}}">{{ application.instanceUp }} / {{ application.instanceCount }}</span>
                            <!--<span class="label label-purple pull-right">just now</span>-->
                            <em class="fa fa-fw fa-desktop mr"></em><strong>{{application.name}}</strong>
                        </a>
                    </div>
                </div>
                <!-- START panel footer-->
                <!--<div class="panel-footer clearfix">-->
                    <!--<div class="input-group">-->
                        <!--<input type="text" placeholder="Search message .." class="form-control input-sm"/>-->
                       <!--<span class="input-group-btn">-->
                          <!--<button type="submit" class="btn btn-default btn-sm"><i class="fa fa-search"></i>-->
                          <!--</button>-->
                       <!--</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!-- END panel-footer-->
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <!-- START panel tab-->
        <div class="panel panel-default">
            <div class="panel-body">
                <!--<uib-tab-heading>-->
                <!--<em class="fa fa-clock-o fa-fw"></em>Applications Panel-->
                <!--</uib-tab-heading>-->
                <div class="panel-heading">
                    <!--<div class="pull-right label label-danger">5</div>-->
                    <!--<div class="pull-right label label-success">12</div>-->
                    <div class="panel-title">Application Details</div>
                </div>

                <div>
                    <!-- START Applicationslist group-->
                    <div ng-show="selectedApp">
                        <span class="h3 pull-left" style="margin-bottom: 0px;margin-top: 8px;">{{selectedApp.name}}</span>
                        <div class="pull-right">
                            <a class="btn btn-sm btn-success" ui-sref="app.circuit-breaker({type: 'app', id: selectedApp.name})"
                               ng-disabled="selectedApp.circuitBreaker !== true">Circuit breakers</a>
                        </div>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Instance</th>
                                <th>Version</th>
                                <th>Info</th>
                                <th>Status</th>
                                <th colspan="2">Health</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="instance in selectedApp.instances track by instance.id">
                                    <td>{{ instance.name }}<br/><span class="muted">{{ instance.url }}</span></td>
                                    <td>{{ instance.version }}</td>
                                    <td><span ng-repeat="(name, value) in instance.info track by name">{{name}}: {{value}}<br></span></td>
                                    <td><span class="status-{{instance.status}}">{{ instance.status }}</span>
                                        <span ng-show="instance.refreshing" class="refresh"></span></td>
                                    <td><span class="status-{{instance.health}}">{{ instance.health }}</span></td>
                                    <td>
                                        <div class="btn-group pull-right"
                                             ng-hide="instance.status == null || instance.status == 'DOWN' || instance.status == 'OUT_OF_SERVICE' || instance.health == 'OFFLINE'">
                                            <a ui-sref="app.details({id: instance.id})" class="btn btn-success">Details</a>
                                            <!--<a ui-sref="apps.logging({id: instance.id})" class="btn btn-success">Logging</a>-->
                                            <!--<a ui-sref="apps.jmx({id: instance.id})" class="btn btn-success">JMX</a>-->
                                            <!--<a ui-sref="apps.threads({id: instance.id})" class="btn btn-success">Threads</a>-->
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--<div class="row">-->

    <!--<div class="col-md-12" ng-show="selectedApp">-->
        <!--&lt;!&ndash; START panel tab&ndash;&gt;-->
        <!--<div class="panel panel-transparent">-->
            <!--<uib-tabset justified="true" class="bg-white p0">-->
                <!--<uib-tab>-->
                    <!--<uib-tab-heading>-->
                        <!--<em class="fa fa-bar-chart-o fa-fw"></em>Metrics</uib-tab-heading>-->
                    <!--<div>-->
                        <!--&lt;!&ndash; START list group&ndash;&gt;-->
                        <!--<div class="table-responsive">-->
                            <!--<table class="table table-bordered table-hover table-striped" ng-if="counterData[0].values.length > 0">-->
                                <!--<thead>-->
                                <!--<tr>-->
                                    <!--<th>Counters</th>-->
                                    <!--<th>-->
                                        <!--<small class="pull-right"><a href="api/instance/{{ instance.id }}/metrics">raw JSON</a></small>-->
                                    <!--</th>-->
                                <!--</tr>-->
                                <!--</thead>-->
                                <!--<tbody>-->
                                <!--<tr>-->
                                    <!--<td>-->
                                        <!--<div class="center-block"-->
                                             <!--style="width: 800px; height:  {{ 75 + counterData[0].values.length * 20 }}px; position:relative; overflow: hidden;">-->
                                            <!--<nvd3-multi-bar-horizontal-chart id="counterChart" nodata="not available"-->
                                                                             <!--data="counterData"-->
                                                                             <!--color="colorFunction()"-->
                                                                             <!--tooltips="true" tooltipContent="toolTipContentFunction()"-->
                                                                             <!--showYAxis="true" yAxisTickFormat="intFormatFunction()"-->
                                                                             <!--showXAxis="true" xAxisTickFormat="abbreviateFunction(30, 1, 3)"-->
                                                                             <!--margin="{ top: 25, left: 250, right: 25, bottom: 50}">-->
                                            <!--</nvd3-multi-bar-horizontal-chart>-->
                                        <!--</div>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--</tbody>-->
                            <!--</table>-->
                            <!--<table class="table table-bordered table-hover table-striped" ng-if="gaugeData[0].values.length > 0">-->
                                <!--<thead>-->
                                <!--<tr>-->
                                    <!--<th>Gauges</th>-->
                                    <!--<th>-->
                                        <!--<small class="pull-right"><a href="api/instance/{{ instance.id }}/metrics">raw JSON</a></small>-->
                                    <!--</th>-->
                                <!--</tr>-->
                                <!--</thead>-->
                                <!--<tbody>-->
                                <!--<tr>-->
                                    <!--<td>-->
                                        <!--<div class="center-block"-->
                                             <!--style="width: 800px; height: {{ 75 + gaugeData[0].values.length * ( gaugeData.length * 10 ) }}px; position:relative;  overflow: hidden;">-->
                                            <!--<nvd3-multi-bar-horizontal-chart id="gaugesChart" nodata="not available"-->
                                                                             <!--data="gaugeData"-->
                                                                             <!--color="colorFunction()"-->
                                                                             <!--tooltips="true" tooltipContent="toolTipContentFunction()"-->
                                                                             <!--showYAxis="true" yAxisTickFormat="intFormatFunction()"-->
                                                                             <!--showXAxis="true" xAxisTickFormat="abbreviateFunction(30, 1, 3)"-->
                                                                             <!--showLegend="{{ gaugeData.length > 1 ? 'true' : 'false' }} "-->
                                                                             <!--legendColor="colorFunction()"-->
                                                                             <!--margin="{ top: 25, left: 250, right: 25, bottom: 50}">-->
                                            <!--</nvd3-multi-bar-horizontal-chart>-->
                                        <!--</div>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--</tbody>-->
                            <!--</table>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; END list group&ndash;&gt;-->
                        <!--<div class="panel-footer text-right"><a href="#" class="btn btn-default btn-sm">View All Activity </a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</uib-tab>-->
                <!--<uib-tab>-->
                    <!--<uib-tab-heading>-->
                        <!--<em class="fa fa-globe fa-fw"></em>Environment</uib-tab-heading>-->
                    <!--<div>-->
                        <!--&lt;!&ndash; START table responsive&ndash;&gt;-->
                        <!--<div class="table-responsive">-->

                            <!--&lt;!&ndash;<table class="table table-bordered table-hover table-striped">&ndash;&gt;-->
                                <!--&lt;!&ndash;<thead>&ndash;&gt;-->
                                <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<th>Order #</th>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<th>Order Date</th>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<th>Order Time</th>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<th>Amount (USD)</th>&ndash;&gt;-->
                                <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                                <!--&lt;!&ndash;</thead>&ndash;&gt;-->
                                <!--&lt;!&ndash;<tbody>&ndash;&gt;-->
                                <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<td>3326</td>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<td>10/21/2013</td>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<td>3:29 PM</td>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<td>$321.33</td>&ndash;&gt;-->
                                <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                                <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<td>3325</td>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<td>10/21/2013</td>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<td>3:20 PM</td>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<td>$234.34</td>&ndash;&gt;-->
                                <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                                <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<td>3324</td>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<td>10/21/2013</td>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<td>3:03 PM</td>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<td>$724.17</td>&ndash;&gt;-->
                                <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                                <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<td>3323</td>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<td>10/21/2013</td>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<td>3:00 PM</td>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<td>$23.71</td>&ndash;&gt;-->
                                <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                                <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<td>3322</td>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<td>10/21/2013</td>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<td>2:49 PM</td>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<td>$8345.23</td>&ndash;&gt;-->
                                <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                                <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<td>3321</td>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<td>10/21/2013</td>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<td>2:23 PM</td>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<td>$245.12</td>&ndash;&gt;-->
                                <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                                <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<td>3320</td>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<td>10/21/2013</td>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<td>2:15 PM</td>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<td>$5663.54</td>&ndash;&gt;-->
                                <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                                <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<td>3319</td>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<td>10/21/2013</td>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<td>2:13 PM</td>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<td>$943.45</td>&ndash;&gt;-->
                                <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                                <!--&lt;!&ndash;</tbody>&ndash;&gt;-->
                            <!--&lt;!&ndash;</table>&ndash;&gt;-->
                        <!--</div>-->
                        <!--&lt;!&ndash; END table responsive&ndash;&gt;-->
                        <!--<div class="panel-footer text-right"><a href="#" class="btn btn-default btn-sm">View All Transactions</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</uib-tab>-->
                <!--<uib-tab>-->
                    <!--<uib-tab-heading>-->
                        <!--<em class="fa fa-info-circle fa-fw"></em>Properties</uib-tab-heading>-->
                    <!--<div>-->
                        <!--&lt;!&ndash; START table responsive&ndash;&gt;-->

                        <!--&lt;!&ndash; END table responsive&ndash;&gt;-->
                        <!--<div class="panel-footer text-right"><a href="#" class="btn btn-default btn-sm">View All Transactions</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</uib-tab>-->
                <!--<uib-tab>-->
                    <!--<uib-tab-heading>-->
                        <!--<em class="fa fa-gears fa-fw"></em>Classpath</uib-tab-heading>-->
                    <!--<div>-->
                        <!--&lt;!&ndash; START table responsive&ndash;&gt;-->

                        <!--&lt;!&ndash; END table responsive&ndash;&gt;-->
                        <!--<div class="panel-footer text-right"><a href="#" class="btn btn-default btn-sm">View All Transactions</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</uib-tab>-->
            <!--</uib-tabset>-->
        <!--</div>-->
        <!--&lt;!&ndash; END panel tab&ndash;&gt;-->
    <!--</div>-->

<!--</div>-->
